/* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
</head>
<!-- Embedded -->
<style type="text/css" media="all">
    body{
        background-color: gray;
        color: antiquewhite;
    }
    h1{
        color: maroon;
        margin-left: 50px;
    }
</style>
<body>
    <h1>Ini Adalah Judul</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptas odit! Enim sint facilis non aspernatur dicta numquam adipisci pariatur delectus, officiis consequuntur quos, vitae omnis ullam in velit temporibus.
    </p>
    <!-- Inline CSS -->
    <h1 style=" color: black;font-size: 50px;" >Ini adalah judul tambahan</h1>
</body>
</html> */